.modal {
  position: fixed;
  inset: 0;
  visibility: hidden;
  z-index: 1000;
}

.modal_is-opened {
  visibility: visible;
}

.modal__overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 496px;
  padding: 32px 28px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-title {
  margin: 0 0 20px 0;
  line-height: 24px;
  color: #000000;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
}

.modal-title_bottom {
  background-color: white;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form__label {
  display: block;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  padding: 8px 0;
  margin: 0 0 20px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  background-color: transparent;
}

.modal-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 24px 0 0 28px;
  padding: 0;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.modal-form__legend {
  margin-bottom: 12px;
}

.modal-form__radio-input[type="radio"] {
  width: 16px;
  height: 16px;
}

.modal-form__radio-label-wrapper {
  margin-bottom: 8px;
}

.modal-form__radio-label {
  width: 50px;
  height: 20px;
  margin-left: 11px;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit {
  width: auto;
  padding: 8px 20px;
  margin: 20px 0 0 0;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 4px;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.modal_is-opened .modal-content {
  transform: translateY(0);
  opacity: 1;
}
.modal__secondary {
  width: auto;
  padding: 8px 20px;
  margin: 20px 0 0 0;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.modal__buttons {
  display: flex;
  gap: 20px;
}
@media (max-width: 520px) {
  .modal-content {
    padding: 14px;
    width: 94%;
  }
}
