.modal {
  width: 496px;
  height: 436px;
  position: absolute;
  top: 193px;
  left: 472px;
  visibility: hidden;
}

.modal_is-opened {
  visibility: visible;
}
.modal-content {
  background: #fff;
  position: relative;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 496px;
  min-height: 436px;
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal-title {
  margin: 20px 0 12px 32px;
  line-height: 20px;
  color: #000000;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
}

.modal-title_bottom {
  background-color: white;
}

.modal-condition {
  color: #000000;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  margin: 18px 0 32px 32px;
}
.modal__image {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.modal-form__form {
}
.modal-form__label_container {
}

.modal-form__label {
  width: 440;
  height: 52;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  padding: 24px 0 0 28px;
  color: #000000;
}

.modal-form__input {
  margin: 8px 28px 0 0;
  padding: 0 0 4px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
}

.modal-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 24px 0 0 28px;
  padding: 0;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.modal-form__legend {
  margin-bottom: 12px;
}

.modal-form__radio-input[type="radio"] {
  width: 16px;
  height: 16px;
}

.modal-form__radio-label-wrapper {
  margin-bottom: 8px;
}

.modal-form__radio-label {
  width: 50px;
  height: 20px;
  margin-left: 11px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
}

.modal-form__submit {
  width: 124px;
  height: 36px;
  margin: 32px 0 36px 28px;
  padding: 8px 16px;
  border: none;
  background-color: #000000;
  color: #fff;
  border-radius: 4px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
}
.modal_is-opened .modal-content {
  transform: translateY(0);
  opacity: 1;
}

.input[type="radio"] {
  width: 16px;
  height: 16px;
}

@media (max-width: 520px) {
  .modal-content {
    padding: 14px;
    width: 94%;
  }
}
