.weather-card {
  height: 80px;
  border-radius: 12px;
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  display: flex;
  margin-bottom: 32px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 0;
}

.weather-card__image {
  object-fit: cover;
  width: 100%;
  object-position: right top;
}

.weather-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  position: absolute;
}
.weather-temp {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 22px;
  left: 16px;
}
.weather-city {
  font-size: 13px;
  color: #fff;
}

@media (max-width: 520px) {
  .weather-card {
    padding: 12px;
  }
  .weather-temp {
    font-size: 22px;
  }
}
